/WebServers/webservers_hw*/centos/cert/
/WebServers/webservers_hw3/centos/nginx_logs/
/WebServers/webservers_hw4/centos/nginx_logs/
/WebServers/webservers_hw*/ubuntu_2*.04/cert/
/WebServers/webservers_hw3/ubuntu_2*.04/apache2_logs/
/WebServers/webservers_hw3/ubuntu_2*.04/apache2.conf
/WebServers/webservers_hw3/ubuntu_2*.04/other-vhosts-access-log.conf
/WebServers/webservers_hw4/ubuntu_2*.04/apache2_logs/
/WebServers/webservers_hw4/ubuntu_2*.04/apache2.conf
/WebServers/webservers_hw4/ubuntu_2*.04/other-vhosts-access-log.conf
/Docker/docker_infrastucture_hw25/.env
/Docker/docker_infrastucture_hw25/mysql/data/
/Docker/docker_infrastucture_hw25/backend/copy_dir/apache2_configs/apache2.conf
/Docker/docker_infrastucture_hw25/backend/copy_dir/apache2_configs/other-vhosts-access-log.conf
/Docker/docker_infrastucture_hw25/backend/apache2_logs/
/Docker/docker_infrastucture_hw25/backend/copy_dir/cert/
/Docker/docker_infrastucture_hw25/frontend/cert/
/Docker/docker_infrastucture_hw25/frontend/nginx_logs/
/Python/hw_class28_py3/data.txt
/Jenkins/hw_class32(GUI_CI_CD)/docker/cert/
/Jenkins/hw_class32(GUI_CI_CD)/docker/apache2.conf
/Terraform/HW_Lesson_42_Terr_3/.terraform/*
/Terraform/HW_Lesson_42_Terr_3/.terraform.lock.hcl
/Terraform/HW_Lesson_42_Terr_3/terraform.tfstate
/Terraform/HW_Lesson_42_Terr_3/terraform.tfstate.backup
