/WebServers/webservers_hw*/centos/cert/
/WebServers/webservers_hw3/centos/nginx_logs/
/WebServers/webservers_hw4/centos/nginx_logs/
/WebServers/webservers_hw*/ubuntu_2*.04/cert/
/WebServers/webservers_hw3/ubuntu_2*.04/apache2_logs/
/WebServers/webservers_hw3/ubuntu_2*.04/apache2.conf
/WebServers/webservers_hw3/ubuntu_2*.04/other-vhosts-access-log.conf
/WebServers/webservers_hw4/ubuntu_2*.04/apache2_logs/
/WebServers/webservers_hw4/ubuntu_2*.04/apache2.conf
/WebServers/webservers_hw4/ubuntu_2*.04/other-vhosts-access-log.conf
